body{
    background-color: #de8e8e;
    color: white;
}

#clock{
    text-align: center;
    width: 50%;
    position: absolute;
    top: 30%;
    left: 30%;
}
#clockh2{
    
        font-family: "Bebas Neue", cursive;
        font-size: 100px;
        font-style: normal;
      }
      .clock-container
    {
          display: flex;
          flex-direction: row;
          justify-content: normal;
          align-items: center;
          align-content: center;
    }

    .clock-items {
        width: 32%;
        background-color: #fff;
        color: #de6868;
        border-radius: 10px;
        margin-right: 3%;
        font-family: "Orbitron", sans-serif;
        font-size: 60px;
            
          }
    #date{
        font-family: "Bebas Neue", cursive;
        font-size: 50px;
        font-style: normal;
    }
